et-xmlfile==1.1.0
flake8==6.0.0
flake8-html==0.4.3
Jinja2==3.1.2
JPype1==1.4.1
json2html==1.3.0
MarkupSafe==2.1.1
mccabe==0.7.0
numpy==1.24.1
openpyxl==3.0.10
packaging==23.0
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.14.0
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
tinydb==4.7.0
